# Ledger Configuration
LEDGER_URL=https://open-finance-1.ldg-dev.one/api/v2
SIGNER_PUBLIC=kao3VT0Hn+AE+f9iA3VnHzy/4k55242D5jBKwnxwFYQ=
SIGNER_SECRET=keSFN3X+LszAem9NOfFE3/tTokEuFzwDYa/8vQpbL/A=

# Application
PORT=3002
